## 1. Variables

#### Quy ước khai báo biến
  - Tên biến được bắt đầu bằng chữ cái(a-z, A-Z), kí tự _ (underscore)
  - Các kí tự khác có thể là chữ cái, chữ số hoặc kí tự _ 
  
  - Khai báo biến không cần khai báo kiểu dữ liệu

#### Các cách khai báo biến

In [38]:
num = 1
print (num, type(num))

1 <class 'int'>

In [37]:
strIn  = '123'
print (strIn, type(strIn))

123 <class 'str'>

In [40]:
result : str  = "6789"
print( result, type(result) )

6789 <class 'str'>

In [39]:
new_num = int(result)
print( new_num, type(new_num))

6789 <class 'int'>

 ## 2. Print

- Có thể in string, số hoặc các biến khá tự do

In [42]:
print("Hi", 'gintoki')

Hi gintoki

In [43]:
print ("VTI", 2018)

VTI 2018

#### Separator 
- Sử dụng separator để chèn vào giữa các input(kiểu dữ liệu string, int ... )  khi in.

In [55]:
print("I", 'am',"hero" , 2018, sep=', ')

I, am, hero, 2018

In [57]:
print("I", 'am',"hero" , 2018, sep='\n')

I
am
hero
2018

#### End
 - sử dụng thuộc tính end để định nghĩa print chuỗi với kết thúc bằng kí tự do mình định nghĩa

In [60]:
print( "I am ", 'Hero', sep=" ", end="\n")
print( "I am ", 'Hero', sep=" ", end="\n")

I am  Hero
I am  Hero

## 3. Số học
##### Phân biệt phép chia

In [61]:
print(7/5)

1.4

In [62]:
print(7//5)

1

 ##### Thư viện math

In [64]:
import math
print(math.sqrt(25))

5.0

In [65]:
print(help(math))

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so


None

## 4. Ký tự
##### In kí tự

In [113]:
print("Hello gintoki")
print('Hello gintoki')

Hello gintoki
Hello gintoki

##### In ký tự đặc biệt

In [114]:
print('My\'s dog ')
print( "I said \"I don't know \"")
print(r'C:name\new Folder')

My's dog
I said "I don't know "
C:name\new Folder

 ##### Ký tự và mảng

In [88]:
strInput = "python"
print(strInput[0])

p

In [89]:
print(strInput[-2])

o

In [91]:
print(strInput[0:3])

pyt

In [134]:
print(strInput[:])

python

In [95]:
print(strInput[1:])

ython

##### Ký tự và phương thức (method)

In [99]:
s = "My name is Gintoki"
s.startswith("My")

True

In [101]:
s.find('name')

3

In [103]:
s.rfind("is")

8

##### Capitalize & Title

In [108]:
s = "Hi Katsura. My name is Gintoki"
s.capitalize()

'Hi katsura. my name is gintoki'

In [107]:
s.title()

'Hi Katsura. My Name Is Gintoki'

##### Upper & Lower

In [111]:
s = "Hi Katsura. My name is Gintoki"
s.upper()

'HI KATSURA. MY NAME IS GINTOKI'

In [110]:
s.lower()

'hi katsura. my name is gintoki'

##### Thay thế ký tự

In [118]:
print("Hi Katsura, my name is {0}".format("Gintoki"))

Hi Katsura, my name is Gintoki

In [9]:
print("Hi Toshi, this is {0}, {0} is {1} year olds".format("Gintoki",30))

Hi Toshi, this is Gintoki, Gintoki is 30 year olds

In [120]:
print("Hi Toshi, this is {name}, {name} is {age} year olds".format( age = 30, name = "Gintoki"))

Hi Toshi, this is Gintoki, Gintoki is 30 year olds

In [3]:
"My name is {0:20}".format('Gintoki')

'My name is Gintoki             '

##### Other

In [112]:
s = "Hi Katsura. My name is Gintoki"
s.replace("Gintoki", "Sataka")

'Hi Katsura. My name is Sataka'

In [85]:
print( """
123
456
789\
""")

123
456
789

In [86]:
print("Hi." *3, "gintoki")

Hi.Hi.Hi. gintoki